{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    SOARCE
    <small>// Documentation</small>
{% endblock %}

{% block main %}

    <div class="col-md-3">
        <div class="box box-solid fixed">
            <div class="box-header with-border">
                <i class="fa fa-plug"></i>
                <h3 class="box-title">Plugin</h3>
            </div>

            <div class="box-body">
                <ol>
                    <li><a href="/docs/overview#introduction"       >Introduction</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-plug"></i>
                <h3 class="box-title" id="introduction">Introduction</h3>
            </div>

            <div class="box-body with-border">
                <p>It is great!!!11oneeleven</p>
            </div>
        </div>
    </div>

{% endblock %}
