version: '3.3'

services:
    app-soarce:
        networks:
            soarcedemo_default:
        environment:
            SENTRY_DSN: ""
    redis-soarce:
        networks:
            soarcedemo_default:

networks:
    soarcedemo_default:
        external: true
