{% extends "layout.twig" %}
{% set activeMainMenu = "control" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    <h2>Control</h2>
{% endblock %}

{% block main %}

    <h3>Menu</h3>
    <ul>
        <li><a href="/control/usecases">manage usecases</a></li>
        <li><a href="/control/services">manage services</a></li>
    </ul>

{% endblock %}


