{% extends "layout.twig" %}

{% set activeMainMenu = "control" %}
{% set activeSubMenu = "services" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Control <small>// services</small>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Start / Stop</h3>
            </div>
            <div class="card-body">
                <table id="filesTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>result</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for name, result in services %}
                        <tr>
                            <th>{{ name }}</th>
                            <td>{{ result }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>name</th>
                            <th>result</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="card-footer with-border">
                <a href="/control/services" class="btn btn-default"><i class="fa fa-angle-left"></i> back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
