{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    <h2>Api</h2>
{% endblock %}

{% block main %}

    <h3>Menu</h3>
    <ul>
        <li>You will want to read the manual, here: <a href="https://www.soarce-qa.de/">Manual</a></li>
    </ul>

{% endblock %}


