{% extends "layout.twig" %}

{% set activeMainMenu = "request" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    <h2>Welcome</h2>
{% endblock %}

{% block main %}

    <h3>request</h3>
    <p>Please choose your analysis:</p>

    <h3>requests</h3>
    <ul>
        <li><a href="/request/overview">Overview / List of requests</a></li>
        <li><a href="/request/sequence">sequence of requests within usecase</a></li>
        <li><a href="/">back</a></li>
    </ul>

{% endblock %}

