{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    <h2>Welcome</h2>
{% endblock %}

{% block main %}

    <h3>trace</h3>
    <p>Please choose your analysis:</p>

    <h3>Filters</h3>
    <ul>
        <li><a href="/trace/calls">Filter function/method calls by application, usecase, request and/or originating file</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>

{% endblock %}

