<!-- @todo make function names clickable: they should dismiss the layer and paste the function name to search field! -->

<div class="modal fade" id="callercalleeModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="callercalleeTitle">Callers / Callees</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="replaceme">loading...</div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline btn-secondary pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#callercalleeModal').on('show.bs.modal', function (event) {
        let button  = $(event.relatedTarget);
        let ajaxUrl = button.data('url');
        let modal   = $(this);

        let xmlhttp = new XMLHttpRequest();
        let elemReplace = document.getElementById('replaceme');
        document.getElementById('callercalleeTitle').innerText = button.data('title');

        xmlhttp.onreadystatechange = function() {
            if( xmlhttp.readyState === 4 && xmlhttp.status === 200 ) {
                elemReplace.innerHTML = xmlhttp.responseText;
            }
        };

        xmlhttp.open("GET", ajaxUrl, true);
        xmlhttp.send();
    })
</script>
