<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="SOARCE" />
    <meta name="description" content="SOARCE application" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />

    <title>SOARCE Application</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


    {% block head %}{%  endblock %}
</head>
<body class="hold-transition fixed skin-blue sidebar-mini" {% block bodyTag %}{% endblock %}>
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Home</a>
            </li>
        </ul>

    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <span class="brand-text font-weight-bold">SO/!\RCE</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/" class="nav-link{% if activeMainMenu == "home" %} active{% endif %}">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/coverage" class="nav-link{% if activeMainMenu == "coverage" %} active{% endif %}">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>Coverage Analysis</p>
                        </a>
                    </li>
                    <li class="nav-item {% if activeMainMenu == "traces" %}menu-open{% endif %}">
                        <a href="/trace" class="nav-link {% if activeMainMenu == "traces" %}active{% endif %}">
                            <i class="nav-icon fas fa-search"></i>
                            <p>
                                Trace Analysis
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/trace/calls" class="nav-link {% if activeSubMenu == "calls" %}active{% endif %}">
                                    <i class="fas fa-phone nav-icon"></i>
                                    <p>
                                        calls
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/trace/usecase" class="nav-link {% if activeSubMenu == "trace-usecases" %}active{% endif %}">
                                    <i class="fas fa-handshake nav-icon"></i>
                                    <p>
                                        usecases
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item {% if activeMainMenu == "request" %}menu-open{% endif %}">
                        <a href="/request" class="nav-link {% if activeMainMenu == "request" %}active{% endif %}">
                            <i class="nav-icon fas fa-exchange-alt"></i>
                            <p>
                                Request Analysis
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/request/overview" class="nav-link {% if activeSubMenu == "overview" %}active{% endif %}">
                                    <i class="fas fa-phone nav-icon"></i>
                                    <p>
                                        overview
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item {% if activeMainMenu == "control" %}menu-open{% endif %}">
                        <a href="/control" class="nav-link {% if activeMainMenu == "control" %}active{% endif %}">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                Control
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/control/usecases" class="nav-link {% if activeSubMenu == "control-usecases" %}active{% endif %}">
                                    <i class="fas fa-indent nav-icon"></i>
                                    <p>
                                        usecases
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/control/services" class="nav-link {% if activeSubMenu == "services" %}active{% endif %}">
                                    <i class="fas fa-server nav-icon"></i>
                                    <p>
                                        services
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/maintenance" class="nav-link{% if activeMainMenu == "maintenance" %} active{% endif %}">
                            <i class="nav-icon fas fa-database"></i>
                            <p>Database Maintenance</p>
                        </a>
                    </li>
                    <li class="nav-item {% if activeMainMenu == "docs" %}menu-open{% endif %}">
                        <a href="/docs" class="nav-link {% if activeMainMenu == "docs" %}active{% endif %}">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Documentation
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/docs/overview" class="nav-link {% if activeSubMenu == "overview" %}active{% endif %}">
                                    <i class="fas fa-binoculars nav-icon"></i>
                                    <p>
                                        Overview
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/docs/application" class="nav-link {% if activeSubMenu == "application" %}active{% endif %}">
                                    <i class="fas fa-laptop nav-icon"></i>
                                    <p>
                                        Application
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/docs/plugin" class="nav-link {% if activeSubMenu == "plugin" %}active{% endif %}">
                                    <i class="fas fa-plug nav-icon"></i>
                                    <p>
                                        Plugin
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/docs/license" class="nav-link {% if activeSubMenu == "license" %}active{% endif %}">
                                    <i class="fas fa-university nav-icon"></i>
                                    <p>
                                        License
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/docs/credits" class="nav-link {% if activeSubMenu == "credits" %}active{% endif %}">
                                    <i class="fas fa-list nav-icon"></i>
                                    <p>
                                        Credits
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
















    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">
                            {% block header %}
                                Page Header
                                <small>Optional description</small>
                            {% endblock %}
                        </h1>
                    </div><!-- /.col -->
                    {#
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Starter Page</li>
                        </ol>
                    </div><!-- /.col -->
                    #}
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
            {%  block main %}{% endblock %}
            </div>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            created by <a href="https://www.segnitz.net/" target="_blank">Holger Segnitz</a>
        </div>
        <strong>&copy; 2017 - {{ "now" | date("Y") }} - <a href="https://www.soarce-qa.de/" target="_blank">SOARCE</a>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</strong>
        <a href="/docs/license">license</a>&nbsp;&nbsp;&nbsp;<strong>-</strong>&nbsp;&nbsp;&nbsp;<a href="/docs/credits#contributors">contributors</a>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->















</div>
<!-- ./wrapper -->


<!-- jQuery -->
<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/adminlte/dist/js/adminlte.min.js"></script>

{#
<script src="/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/adminlte/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/adminlte/bower_components/select2/dist/js/select2.full.min.js"></script>
#}

{% block pageEnd %}{% endblock %}

</body>
</html>
