
div.coverage {
    font-family: monospace;
    padding: 5px;
    font-size: 13px;
    line-height: 18px;
}

div.covered {
    white-space: pre;
    border: 1px solid #008000;
    background: repeating-linear-gradient(
        -45deg,
        #013f00,
        #013f00 10px,
        #004600 10px,
        #004600 20px
    );
    margin-bottom: 3px;
}

div.uncovered {
    white-space: pre;
    border: 1px solid #9c0000;
    background: repeating-linear-gradient(
        45deg,
        #200000,
        #200000 10px,
        #270000 10px,
        #270000 20px
    );
    margin-bottom: 3px;
}

#coverageRequestsAndUsecases {
    font-family: monospace;
    border: 1px solid #001fd8;
    background: repeating-linear-gradient(
            -45deg,
            #001954,
            #001954 10px,
            #001739 10px,
            #001739 20px
    );
    position: fixed;
    right:   20px;
    z-index: 500;
}

div.loc {
    border: 1px solid rgba(1, 1, 1, 0);
}

div.covered div.loc:hover {
    border: 1px solid #d8d600;
    background: repeating-linear-gradient(
            -45deg,
            #7b7900,
            #7b7900 10px,
            #5e5c00 10px,
            #5e5c00 20px
    );
}

div.uncovered div.loc:hover {
    border: 1px solid #e6a600;
    background: repeating-linear-gradient(
            45deg,
            #7b5b00,
            #7b5b00 10px,
            #5e4800 10px,
            #5e4800 20px
    );
}
