{% extends "layout.twig" %}
{% import 'coverage/controls.twig' as controls %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    <h2>Welcome</h2>
{% endblock %}

{% block main %}

    <h3>Filters</h3>
    <form method="get" action="">
        <ul>
            <li>Usecases:    {{ controls.select('usecaseId',     usecaseId,     usecases) }}</li>
            <li>Requests:    {{ controls.select('requestId',     requestId,     requests) }}</li>
            <li>update:      <input type="submit" name="nothing" value="update"></li>
        </ul>
    </form>

    <h3>Coverage for file</h3>
    <div class="coverage">
    {% set previousLineCovered = true %}
    {% apply spaceless|replace({"\n":'', "\r":''})|raw %}
        <div class="uncovered">
{% for nr, line in source %}
{% if coverage[nr+1] and not previousLineCovered %}
</div><div class="covered">
{% set previousLineCovered = true %}
{% elseif not coverage[nr+1] and previousLineCovered %}
</div><div class="uncovered">
{% set previousLineCovered = false %}
{% endif %}
{{ nr+1 }}: {{ line }}<br>
{% endfor %}
        </div>
    {% endapply %}
    </div>
{% endblock %}

