{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    <h2>Welcome</h2>
{% endblock %}

{% block main %}

    <h3>Introduction</h3>
    <p>This is SOARCE // the coverage orchestrator and analyzer application.</p>

    <h3>Menu</h3>
    <ul>
        <li><a href="/whatever">whatever</a></li>
    </ul>

{% endblock %}
