{% extends "layout.twig" %}
{% set activeMainMenu = "maintenance" %}
{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Database Maintenance
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Database Maintenance</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post">
                            <div class="btn-group">
                                <button class="btn btn-lrg btn-danger" type="button" data-formaction="" data-toggle="modal" data-target="#truncateModal"><i class="fa fa-trash"></i> truncate</button>
                                <button class="btn btn-lrg btn-info"   type="submit" name="action" value="reset autoincrement"><i class="fa fa-undo"></i> reset autoincrement</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block pageEnd %}
    {% include "modal.twig" with {
        'type':        'danger',
        'modalId':     'truncateModal',
        'title':       'Truncate All Tables',
        'message':     'Do you really want to truncate the database? It will delete all data.',
        'actionLabel': '<i class="fa fa-trash"></i> truncate',
        'actionName':  'action',
        'actionValue': 'truncate',
    } %}
{% endblock %}
