{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Database Maintenance
{% endblock %}

{% block main %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Database Maintenance</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="btn-group">
                            <button class="btn btn-lrg btn-danger" type="submit" name="action" value="truncate"><i class="fa fa-trash"></i> truncate</button>
                            <button class="btn btn-lrg btn-info"   type="submit" name="action" value="reset autoincrement"><i class="fa fa-undo"></i> reset autoincrement</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
