[mysqld]
innodb_file_per_table
skip_name_resolve
disable_log_bin

key_buffer_size         = 512M
max_allowed_packet      = 512M
thread_stack            = 1M
thread_cache_size       = 64


max_heap_table_size     = 4G
tmp_table_size          = 2G

innodb_buffer_pool_size = 8G
innodb_thread_concurrency = 0
innodb_read_io_threads = 64
innodb_write_io_threads = 64
innodb_io_capacity = 1000
innodb_flush_log_at_trx_commit = 2

